.home-content {
  display: grid;
  grid-template-columns: 1fr;

  & > * {
    color: $color-white;
  }

  &__header {
    background: lighten($color-black, 10%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    line-height: 1.3em;
    padding: 1rem;
    height: 90vh;

    & > * {
      margin: 10% 0;
    }

    h1 {
      color: $color-primary;
      font-size: 4.5rem;
    }

    h2 {
      text-align: center;
      font-size: 2.5rem;
      line-height: 1.2em;
      color: $color-secondary-light;
    }

    h3 {
      text-decoration: underline;
      font-size: 3rem;
      color: $color-tertiary-dark;
      margin-bottom: 2rem;
    }

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }

    li {
      margin: 1rem;
    }

    div {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      a {
        text-decoration: none;
        margin: 1rem;
      }
    }
  }

  &__sections {
    display: grid;
    grid-template-columns: 1fr;
  }

  section {
    // min-width: 300px;
    // min-height: 300px;
    background: lightblue;
  }
}

.home-content__sections {
  svg {
    font-size: 5rem;
  }
  span {
    display: block;
    font-size: 3rem;
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & > * {
    height: 20rem;
    width: 100vw;
    border: 1px solid $color-black;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .one {
    // background: lighten($color-black, 30%);
    background-image: linear-gradient(
        to bottom,
        rgba($color-black, 0.5),
        rgba($color-black, 1)
      ),
      url("../../assets/images/websites.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
  }

  & .two {
    background-image: linear-gradient(
        to bottom,
        rgba($color-black, 0.5),
        rgba($color-black, 1)
      ),
      url("../../assets/images/apps.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
  }

  & .three {
    background-image: linear-gradient(
        to bottom,
        rgba($color-black, 0.5),
        rgba($color-black, 1)
      ),
      url("../../assets/images/profile.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
  }

  & .four {
    background-image: linear-gradient(
        to bottom,
        rgba($color-black, 0.5),
        rgba($color-black, 1)
      ),
      url("../../assets/images/contact.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
  }
}
