.navBar {
  background: $color-black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding: 1rem 0;
  color: $color-white;

  z-index: 301;

  &__navigation {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  &__item {
    padding: 2rem 2rem;
    cursor: pointer;
  }

  &__link {
    font-size: 2rem;
    text-decoration: none;

    &:hover {
      color: $color-primary;
    }
  }

  &__active {
    color: $color-primary;
  }

  &__scroll {
    background: $color-primary;
    cursor: pointer;

    i {
      font-size: 4rem;
    }
  }
}
